<!-- views/AboutMe.hbs -->
{{> header }}
<div class="about-page">
<div class="container about-section">
  <h2>About Me</h2>
  <p>
    As a dedicated and ambitious computer science student at Georgian College, I’m eager to apply my 
    technical skills and passion for programming to tackle challenging projects. I have hands-on 
    experience in programming with Java, Python, and JavaScript.
  </p>
  
  <h3>Education</h3>
  <p>Computer Programming, Georgian College, Barrie <br> May 2023 — Dec 2024</p>

  <h3>Skills</h3>
  <ul class="skills-list">
    <li>HTML, CSS, JavaScript</li>
    <li>Python, Java</li>
    <li>GitHub, GitHub Desktop</li>
    <li>Microsoft Office</li>
    <li>Problem-Solving, Time Management</li>
  </ul>
</div>
</div>
{{> footer }}