<!-- views/Home.hbs -->
{{> header }}
<div class="home-page">

<div class="container home-section">
  <div class="profile-section">
    <img src="/images/B74857D0-0488-4A59-B779-A79CCE7F76A7_1_201_a.jpeg" alt="Paramjit Singh" class="profile-img">
    <h1>Hi, I'm Paramjit Singh</h1>
    <p>A passionate Computer Programming student.</p>
    <a href="/resume/Paramjit_Singh_Resume.pdf" class="btn btn-primary" download>Download My Resume</a>
  </div>
</div>

</div>
{{> footer }}