<!-- views/Projects.hbs -->
{{> header }}
<div class="projects-page">
<div class="container">
  <h2>Projects</h2>
  
  <h3>E-commerce Website Development Project</h3>
  <p>Oct 2023 — Dec 2023</p>
  <p>Developed a fully functional e-commerce website specializing in mens fashion using HTML, CSS, and JavaScript.</p>
  
  <h3>Weather App Development Project</h3>
  <p>Jun 2023 — Jul 2023</p>
  <p>Created a Python-based weather application that provides real-time weather forecasts using OpenWeatherMap API.</p>
  
  <h3>Banking System Application</h3>
  <p>Aug 2023 — Oct 2023</p>
  <p>Developed a Java-based banking system with a user-friendly GUI using Scene Builder for account management.</p>
</div>
</div>
{{> footer }}